body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb( 50%, 50%, 50%);
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

.userColorCustomize{
    display: flex;
    align-items: center;
}

.userColorChoice{
    padding: 0;
    border: 1px whitesmoke solid;
    border-radius: 3px;
}

.colorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gridContainer{
    width: 500px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

@media(max-width:500px){
    .gridContainer{
        width: 90%;
    }
}

.gridRow{
    flex: 1;
    display: flex;
}

.square{
    flex: 1;
    transition: all 0s ease;
}

.grayBackground{
    background-color: gainsboro;
}

button,select,input{
    font-size: 1rem;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

h1{
    font-size: 2rem;
}

